<h2 mat-dialog-title>Nom de dossier</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Nom de dossier</mat-label>
    <input matInput>
  </mat-form-field>
  <div>
    <h3>Couleur du dossier</h3>
    <div class="colors">
      <div class="color" *ngFor="let color of colors" [style.background]="color" (click)="selectColor(color)"></div>
      <div class="color add-color" (click)="addColor()">+</div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align ="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [disabled]="!folderName" (click)="createFolder()">Ajouter</button>
</mat-dialog-actions>
